
{{ block "register-form" . }}
<div id="register" hx-get="/register" hx-swap="outerHTML" hx-target="#content">
    <button class="hover:bg-gray-400" type="submit">Register</button>
</div>
{{ end }}

{{ block "login-form" . }}
    <div id="content" class="flex justify-center items-center h-screen">
        <div class="text-6xl">
            <form id="login-form" hx-post="/login" hx-swap="outerHTML" hx-target="#content">
                <label for="email">
                    <input type="email" class="border border-2 border-black rounded-lg block w-full" placeholder="Email Address">
                </label>
                <div>
                    <button class="hover:bg-gray-400 pt-10" type="submit">Login</button>
                </div>
            </form>
            {{ template "register-form" .}}
        </div>
    </div>
{{ end }}

{{ block "voting" . }}
    {{ template "voting-display" .Data }}
{{ end }}

{{ block "logout" . }}
    {{ template "login-form" .}}
{{ end }}

{{ block "register" . }}
    {{ template "register-display" .Data }}
{{ end }}