
{{ block "register-form" . }}
<div>
    <button class="hover:bg-gray-400 py-10" _="on click call register()" >Register</button>
    <!-- <button class="hover:bg-gray-400 py-10" id="register" hx-post="/register" hx-swap="outerHTML" hx-target="#content" type="submit">Register</button> -->
</div>
{{ end }}

{{ block "login-form" . }}
    <div id="content" class="flex justify-center items-center h-screen">
        <div class="text-6xl" >
            <input id="email" name="email" type="text" class="border border-2 border-black rounded-lg block w-full" placeholder="Email Address">
            <div>
                <button id="login-button" class="hover:bg-gray-400 py-10">Login</button>
            </div>
            {{ template "register-form" .}}
        </div>

        <script>
            document.getElementById('login-button').addEventListener('click', async function() {
                var isLogin = await login();
                if (isLogin) {
                    htmx.ajax('POST', '/login', {target:'#content', swap:'outerHTML'});
                }
            });
        </script>
    </div>
{{ end }}

{{ block "voting" . }}
    {{ template "voting-display" .Data }}
{{ end }}

{{ block "logout" . }}
    {{ template "login-form" .}}
{{ end }}

{{ block "register" . }}
    {{ template "register-display" .Data }}
{{ end }}